*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer !important;
}

.template-bosluk{
    margin-bottom: 50px;
}

.align-center {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.backGround {
    position: absolute;
    top: 0;
    right: -368px;
    z-index: -10;
    width: 1200px;

    height: auto;
}

.backGround-2 {
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    width: 63%;
    
    height: auto;
}

nav .container-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1180px;
    padding: 20px 0;
    align-items: center;
    position: relative;
}

nav .nav-header {
    font-size: 40px;
    font-weight: 700;
}

nav .nav-header span {
    color: #6639A6;
}

nav .container-1 .container-2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

nav .container-1 .container-2 *:not(a i) {
    margin: 0 17px;
    color: white;
    text-align: center;
    height: 100%;
    text-decoration: none;
    cursor: pointer;
}

nav .container-1 .container-2 a i {
    font-size: .9rem;
    margin-left: 10px;
}

nav .container-1 .container-2 .border-box {
    border: 1px white solid;
    height: fit-content;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
}

nav .container-1 .container-2 i:last-child {
    margin: 0;
    margin-left: 5px;
}

.backGround-3 {
    display: none;

    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
    width: 40%;
    max-width: 300px;
    
    height: auto;
}

nav .container-1 .dropdown {
    width: 30px;
    display: none;
}

@media (max-width:1921px){
    .backGround {
        display: none;
    }

    .backGround-2 {
        display: block;
    }

}

@media (max-width:1150px) {

    .align-center {
        padding: 0;
        max-width: 80%;
    }

    .backGround-2 {
        display: none;
    }

    .backGround-3 {
        display: block;
    }

    nav .container-1 .container-2 {
        display: none;
    }

    nav .container-1 .dropdown {
        display: block;
    }

}

@media (max-width:640px) {

    nav .container-1 h1 {
        font-size: 15px;
    }

    nav .container-1 .dropdown {
        width: 20px;
        transform: translateY(-5px);
    }
    
}



/* Banner */

.banner {
    margin-top: 5.5%;
    height: 570px;
}

@media (min-width:1921px){
    .banner {
        margin-top: 110px;
    }
}

.banner .banner-texts {
    width: 100%;
}

.banner .banner-texts span {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.banner .banner-text h1 {
    font-size: 45px;
    font-weight: 700;
}

.banner .banner-texts *:not(p) {
    color: #6639A6;
}

.banner .banner-texts p {
    color: #ABAAAB;
    line-height: 27px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

.banner .buttons {
    margin-top: 40px;
}

.banner .buttons button {
    all: unset;
    
    width: 200px;
    text-align: center;
    height: 70px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
}

.banner .buttons button:first-child {
    background-image: linear-gradient(120deg,#844096,#c74a8f,#D93894);
    color: white;
    margin-right: 50px;
    box-shadow: 0px 5px 30px rgb(102, 57, 166,.4);
}

.banner .buttons button:last-child {
    color: #2D2D2D;
    box-shadow: 0px 5px 30px rgb(45, 45, 45,.2);
}


.banner .offers {

    margin-top: 100px;

    display: grid;
    grid-template-columns: 140px 140px 140px 140px;
    grid-column-gap: 25px;
}

.banner .offers .offer {
    
    background-color: white;
    box-shadow: 0px 5px 30px rgb(171, 170, 171,.2);

    height: 139px;

    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .1s;

}

.banner .offers .offer span {
    padding: 20px;
    box-sizing: content-box;
    background-color: #DAD9DB;
    border-radius: 12px;
    margin-top: 20px;
}

.banner .offers .offer span i {
    color: gray;
    font-size: 30px;
}

.banner .offers .offer h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
    font-size: 12px;
}

.banner .offers .offer button {
    all: unset;
    display: none;
    margin: 10px 0;
    background-image: linear-gradient(180deg,#803B8E,#CC3995);
    font-size: 10px;
    font-weight: 500;
    color: white;
    border-radius: 50px;
    padding: 5px 15px;
}

.banner .offers .offer:hover {
    box-shadow: 0px 5px 30px rgb(102, 57, 166, .5);
}

.banner .offers .offer:hover span {
    background-image: linear-gradient(180deg,#8A3F96,#6B337E,#CE3995);
}

.banner .offers .offer:hover span i {
    color: white;
}

@media (min-width:1150px){

    .banner .offers .offer:hover button{
        display: block;
    }

    .banner .offers .offer:hover {
        height: 187px;
    }

}

@media (max-width:780px) {

    .banner {
        height: 650px;
    }

    .banner .offers {
        grid-template-columns: 140px 140px;
        grid-gap: 35px 15px;
        margin-top: 40px;
    }

}

@media (max-width:640px) {

    .banner {
        margin-top: 10px;
        height: 500px;
    }

    .banner .banner-texts span {
        font-size: 14px;
    }

    .banner .banner-texts h1 {
        font-size: 29px;
    }

    .banner .banner-texts p {
        font-size: 11px;
        line-height: 15px;
    }

    .banner .buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .banner .buttons button {
        height: 45px;
        font-size: 10px;
    }

    .banner .buttons button:first-child {
        margin-right: 40px;
    }

    .banner .offers {
        grid-template-columns: 40% 40%;
        justify-content: center;
    }

    .banner .offers .offer {
        height: 110px;
    }

    .banner .offers .offer span {
        margin-top: 0px;
        padding: 15px;
    }

    .banner .offers .offer h6 {
        font-size: 7px;
        margin-bottom: 0px;
        padding-right: 10px;
    }

    
}

/* Advantages */
.gray-bg {
    width: 100%;
    height: 566px;
    background-color: rgb(218, 217, 219, .1);
}

.header-type-1 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 40px 0;
}

.advantages .slick {
    text-align: center;
}

.advantages .slick .slick-item {
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 262px;
    height: 360px;

    padding: 24px;

    margin: 14px;

    box-shadow: 0px 5px 20px rgb(112, 112, 112, .2);

    opacity: .6;

}

.advantages .slick .slick-item span {

    background-color: #DAD9DB;
    padding: 27px;
    border-radius: 100px;
    box-sizing: content-box;

}

.advantages .slick .slick-item i {
    font-size: 40px;
}

.advantages .slick .slick-item h5 {

    margin: 30px 0;

    color: rgb(112, 112, 112, .68);

    font-size: 22px;

    font-weight: 700;

}

.advantages .slick .slick-item p {

    color: rgb(112, 112, 112, .68);

    font-size: 16px;
    font-weight: 400

}

.slick-dots li button:before
{
    font-size: 40px !important;
    line-height: 20px !important;
}

.advantages .slick .slick-item:hover {
    
    opacity: 1;
    box-shadow: 0px 5px 30px rgb(102, 57, 166,.5);

}

.advantages .slick .slick-item:hover span {
    background-image: linear-gradient(#824095,#824E91,#EE3594);
}

.advantages .slick .slick-item:hover span i {
    color: white;
}

.advantages .slick .slick-item:hover h5 {
    color: #6639A6;
}

.advantages .slick .slick-item:hover p {
    color: black;
}

@media (max-width:1150px) {

    .advantages {
        max-width: 100%;
    }

    .header-type-1 {
        font-size: 15px;
    }

    .advantages .slick {
        margin: 0  auto !important;
    }

    .advantages .slick .slick-item {
        margin: 30px 75px;
        box-shadow: 0px 5px 30px rgb(102, 57, 166,.5);
        opacity: 1;
        height: auto;
        padding: 28px 24px;
    }

    .advantages .slick .slick-item h5 {
        color: #6639A6;
    }


    .advantages .slick .slick-item p {
        color: black;
    }

    .advantages .slick .slick-item span {
        background-image: linear-gradient(#824095,#824E91,#EE3594);
    }

    .advantages .slick .slick-item span i {
        color: white;
    }

    .advantages .slick-list {
        max-width: 500px !important;
        margin: 0 auto;
    }

}

@media (max-width:410px) {

    .advantages-bg {
        height: 500px;
    }

    .advantages .slick .slick-item {
        padding: 19px 24px;
    }

    .advantages .slick .slick-item span {
        padding: 20px;
    }

    .advantages .slick .slick-item span img {
        width: 100%;
    }

    .advantages .slick .slick-item h5 {
        font-size: 12px;
        margin: 10px 0;
    }

    .advantages .slick .slick-item p {
        font-size: 12px;
    }
}


/* S.S.S */

.SSS {
    height: 800px;
}

.SSS .container-1 {
    display: flex;
}

.SSS .container-1 img {
    object-fit: contain;
}

.SSS .container-1 .questions {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    height: 527px;
    width: 100%;
}

.SSS .container-1 .questions .question {
    border: 1px #DEB9F5 solid;
    border-left: 13px #E13793 solid;
    border-radius: 10px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;

    padding: 24px;
    margin-bottom: 35px;

    cursor: pointer;
}

.SSS .container-1 .questions .question h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #413E3E;
}

.SSS .container-1 .questions .question .answer {
    display: none;
}

.SSS .container-1 .questions .question .answer p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.btn-type-1 {
    all: unset;
    font-size: 13px;
    font-weight: 500;

    background-image: linear-gradient(90deg,#6639A6,#E83794);

    width: 150px;
    height: 50px;
    text-align: center;

    border-radius: 50px;
    color: white;
    float: right;
    margin-top: 30px;

}


@media (max-width:1150px) {

    .SSS {
        height: 750px;
    }

    .SSS .container-1 img {
        display: none;
    }

    .SSS .container-1 .questions {
        margin-left: 0;
        width: 100%;
    }

}

@media (max-width:730px) {

    .SSS {
        min-height: 460px;
        height: auto;
    }

    .SSS .container-1 .questions {
        height: auto;
    }

    .SSS .container-1 .questions .question{
        padding: 10px;
    }

    .SSS .container-1 .questions h4 {
        font-size: 9px !important;
        text-align: center;
    }

    .SSS .container-1 .questions .answer {
        max-height: 100% !important;
    }

    .SSS .container-1 .questions .answer p {
        font-size: 9px !important;
        margin: 0px;

    }

    .btn-type-1 {
        margin-top: 0px;
        width: 70px;
        height: 28px;
        font-size: 6px;
        padding: 0;
    }

}


/* Blog */

.blog-bg {
    height: 650px;
}

.blog {
    height: 650px;
}

.blog h2 {
    padding: 10px 0;
}

.blog .slick-2 {
    display: grid;
    grid-template-columns: 560px 560px;
    grid-gap: 30px;
    
}

.blog .slick-2 .box {
    display: flex;
    align-items: center;
    
    height: 196px;

    box-shadow: 0px 5px 30px #DEB9F5;

    border-left: 9px #E83794 solid;

    padding: 10px;
    padding-left: 30px;
}

.blog .slick-2 .box .texts {
    margin-left: 15px;
}

.blog .slick-2 .box .texts h5 {
    font-size: 14px;
    font-weight: 700;
}

.blog .slick-2 .box .texts p {
    font-size: 10px;
    font-weight: 300;
    margin: 0;
}

.blog .slick-2 .box .texts button {

    all: unset;

    font-size: 9px;
    font-weight: 300;

    width: 112px;
    height: 32px;

    border-radius: 21px;

    background-color: white;
    color: #6639A6;
    border: 1px #6639A6 solid;
    text-align: center;
    margin-top: 5px;
}

.blog .slick-2 .box:hover {
    border-left: 27px #6639A6 solid;
    padding-left: 12px;
    border-radius: 5px;
}

.blog .slick-2 .box:hover button {
    border: none;
    margin-top: 10px;
    color: white;
    background: linear-gradient(166deg, rgba(102,57,166,1) 0%, rgba(102,57,166,1) 10%, rgba(125,57,163,1) 18%, rgba(232,55,148,1) 100%);
}



.slick-dots li button:before {
    color: transparent !important;
    border: 2px #824394 solid !important;
    border-radius: 20px;

    font-size: 13px;
    width: 23px !important;
    height: 23px !important;
    opacity: 1 !important;
}

.slick-dots li.slick-active button::before {

    border: none !important;
    background: rgb(102,57,166);
    background: linear-gradient(166deg, rgba(102,57,166,1) 0%, rgba(102,57,166,1) 10%, rgba(125,57,163,1) 18%, rgba(232,55,148,1) 100%);

}

.blog .slick-dots {
    top: 120%;
}

.slick-dots li {
    margin: 0 7px !important;
}

@media (max-width:1250px){

    .blog-bg {
        height: 450px;
    }

    .blog {
        height: 450px;
    }

    .blog .slick-2 {
        display: block;
        width: 100%;
        box-shadow: 0px 5px 30px #DEB9F5;
    }

    .blog .slick-2 .box {
        box-shadow: none;
    }

    .blog .slick-2 .box .texts p {
        margin: 1% 0;
    }

}

@media (max-width:780px) {

    .blog-bg {
        height: 300px;
    }

    .blog {
        height: 300px;
        margin-top: 50px;
    }

    .blog .slick-2 .box {
        border-left-width: 3px;
        width: 300px;
        height: 105px;
    }

    .blog .btn-type-1 {
        margin-top: 50px;
    }

    .blog .slick-2 .box:hover {
        border-left-width: 10px;
    }

    .blog .slick-2 .box:hover button {
        margin-top: 0 !important;
    }

    .blog .slick-2 .box img {
        width: 133px;
        height: 80px;
    }

    .blog .slick-2 .box .texts h5 {
        font-size: 6px;
    }

    .blog .slick-2 .box .texts p {
        font-weight: 400;
        font-size: 4px;
    }

    .blog .slick-2 .box .texts button {
        width: 60px;
        height: 17px;
        font-size: 4px;
    }

}


/* Sigorta Şirketleri */

.Sigorta-Şirketleri {
    height: 650px;
}

.Sigorta-Şirketleri .main-container {
    display: flex;
    flex-direction: column;
}

.Sigorta-Şirketleri .main-container .containers {
    display: flex;
    justify-content: center;
}

.Sigorta-Şirketleri .main-container .containers .container-item {
    width: 150px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 5px 20px rgb(20, 47, 67, .2);
    border-radius: 100%;

    margin-right: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */                            
}


@media (max-width:1150px) {

    .Sigorta-Şirketleri {
        max-width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .Sigorta-Şirketleri .main-container {
        flex-direction: row;
        justify-content: space-between;

        transform: translateX(0);

        width: fit-content;

        animation-name: SliderAnim;
        animation-duration: 50s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        height: fit-content;
        
    }

}

@media (max-width:500px) {

    .Sigorta-Şirketleri {
        height: 200px;
    }

    .Sigorta-Şirketleri .main-container {

        transform: translateX(0);
        animation-name: SliderAnim2;
        animation-duration: 30s;
    }

    .Sigorta-Şirketleri .main-container .containers .container-item  {

        width: 45.59px;
        height: 45.59px;

        margin-right: 37px;
        
    }

    .Sigorta-Şirketleri .main-container .containers .container-item img {

        width: 80%;

    }

}


@keyframes SliderAnim {
    0% {transform: translateX(0);}

    50% {transform: translateX(-2200px);}

    100% {transform: translateX(0);}
}

@keyframes SliderAnim2 {
    0% {transform: translateX(0);}

    50% {transform: translateX(-800px);}

    100% {transform: translateX(0);}
}


/* Footer*/

.footer .E-bülten {
    width: 100%;
    background-color: #290931;
}

.footer .E-bülten .container-1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 33px 0;
}

.footer .E-bülten .container-1 .texts h5 {
    font-size: 25px;
    font-weight: 700;
}

.footer .E-bülten .container-1 .texts p {
    font-size: 15px;
    font-weight: 400;
}

.footer .E-bülten .container-1 form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.footer .E-bülten .container-1 form input {
    border: none;
    height: 100%;
    background-color: transparent;
    border: 2px white solid;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    color: white;
    padding: 10px;
    width: 388px;
}

.footer .E-bülten .container-1 form input::placeholder {
    color: white;
    font-size: 15px;
    font-weight: 300;
}

.footer .E-bülten .container-1 form button {
    all: unset;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 96px;
    height: 100%;
    color: #290931;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

@media (max-width:1300px) {

    .footer .E-bülten .container-1 {
        flex-direction: column;
        align-items: flex-start;
        max-width: 80%;
    }

    .footer .E-bülten .container-1 form {
        justify-content: flex-start;
    }
}

@media (max-width:580px) {

    .footer .E-bülten .container-1 .texts h5 {
        font-size: 10px
    }

    .footer .E-bülten .container-1 .texts p {
        font-size: 9px;
    }

    .footer .E-bülten .container-1 form {
        height: 30px;
        width: 100%;
    }

    .footer .E-bülten .container-1 form input {
        width: 70%;
        font-size: 10px;
    }

    .footer .E-bülten .container-1 form button {
        
        font-size: 10px;
    }

    .footer .E-bülten .container-1 form input::placeholder {
        font-size: 10px;
    }



}