nav {
    padding: 10px 100px !important;
}

#header a {
    color: white;
}

#text {
    margin-top: 200px;
    text-align: center;
    width: 600px;
}

#cards {
    margin-top: 200px;
}

.container2 {

}